@model ProyectoGestionVenta.Models.Articulo

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/categoria.css" rel="stylesheet" />
<div class="card card-primary col-7 offset-3">
    <div class="card-header">
        <h3 class="card-title">Detalles de Categoría</h3>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.ProveedorId)
        </dd>
    </dl>
<nav>

    <div class="row offset-2">
        <div class="col">
            <a class="btn btn-primary col-6" href="@Url.Action("Edit", new { id = Model?.CategoriaId })">Editar</a>
        </div>
        <div class="col">
            <a class="btn btn-secondary col-6" href="@Url.Action("Index")">Ir a Lista</a>
        </div>
    </div>
</nav>
</div>
