@model ProyectoGestionVenta.Models.Categorium

@{
    ViewData["Title"] = "Delete";
      Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 18px;
        color: #000;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    dl {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        margin-bottom: 20px;
    }

    dt {
        font-weight: bold;
    }

    input[type="submit"].btn-danger {
        background-color: #007BFf;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .back-link {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        color: #007BFF;
        border-bottom: 1px solid #007BFF;
        transition: border-bottom 0.2s;
    }

        .back-link:hover {
            border-bottom: 1px solid transparent;
        }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eliminar Categoría</title>
</head>
<body>
    <header>
        <h1>Eliminar Categoría</h1>
    </header>
    <main>
        <h3>¿Estás seguro de que deseas eliminar esto?</h3>
        <div>
            <h4>Categoría</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoriaId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a href="@Url.Action("Index")" class="btn btn-secondary">Volver a la Lista</a>
            </form>
        </div>
    </main>
    <footer>
       
    </footer>
</body>
</html>

