@model ProyectoGestionVenta.Models.Categorium

@{
    ViewData["Title"] = "Delete";
      Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/categoria.css" rel="stylesheet" />

<div class="card card-primary col-7 offset-3">
    <div class="card-header">
        <h3 class="card-title">Eliminar Categoría</h3>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
           @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />

        <div class="row offset-2">
            <div class="col">
                <input type="submit" value="Eliminar" class="btn btn-danger col-6" />
            </div>
            <div class="col">
                <a href="@Url.Action("Index")" class="btn btn-secondary col-6">Ir a Lista</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

  
