@model IEnumerable<ProyectoGestionVenta.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}


<link href="~/css/usuarios.css" rel="stylesheet" />

<h1>Lista de Usarios</h1>
<main>
    <p>
        <a class="btn btn-outline-primary" href="@Url.Action("Create")">Crear Nuevo</a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead bg-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
               
                
                
                <th>Acciones</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                    
            
            <td>
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId"><i class="fas fa-pencil-alt"></i> Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UsuarioId"><i class="fa fa-list" aria-hidden="true"></i>Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
            </td>
        </tr>
}

        </tbody>
    </table>
</main>
