@model IEnumerable<ProyectoGestionVenta.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Representante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.ArticuloId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProveedorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProveedorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProveedorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
